services:
  - type: web
    name: portfolio-backend
    env: node
    buildCommand: npm install && npx prisma generate --schema=packages/database/prisma/schema.prisma && npm run build -w @portfolio/shared && npm run build -w @portfolio/backend
    startCommand: npm run start -w @portfolio/backend
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
